conky.config = {
-- This config draws the processes using RAM.

-- This is a semi generated config file it is populated by conky_start
-- The remaining config is set in global_config

    @@_WINDOW_SETTINGS_@@

    @@_FONT_SETTINGS_@@

    @@_COLOR_SETTINGS_@@

	alignment = 'top_left',

	minimum_width = 295,
	minimum_height = 165,
	maximum_width = 313,
	gap_x = 626,
    gap_y = @@_Y_OFFSET_@@,

	update_interval = 5,

	template0 = [[${GOTO 50}${color\1}${top_mem name \2}${alignr}${top_mem mem \2}%]],

	--top_name_verbose = false,
	no_buffers = true,
};

conky.text = [[
${voffset 25}${GOTO 50}${font}RAM
${GOTO 50}${font}Usage: ${font Monofur:size=8}${memperc}% | ${mem}${font Monofur:size=7}${alignr}[+${buffers} +${cached}]${font Monofur:size=8}
${voffset 27}${template0 0 1}
${template0 1 2}
${template0 2 3}
${voffset 5}${GOTO 40}${color2}${GOTO 80}${cpu cpu1}${GOTO 105}${cpu cpu2}${GOTO 130}${cpu cpu3}${GOTO 155}${cpu cpu4}${GOTO 180}${cpu cpu5}${GOTO 205}${cpu cpu6}${GOTO 230}${cpu cpu7}${GOTO 255}${cpu cpu8}
${GOTO 85}${hwmon 0 temp 2}°C${GOTO 135}${hwmon 0 temp 3}°C${GOTO 185}${hwmon 0 temp 4}°C${GOTO 235}${hwmon 0 temp 5}°C
${image ~/.conky/ConkyBar/img/ram.png -p 0,15}
${font}
]];
